<div class="card offset-md-3 col-md-6">
  <div class="card-header">
    <h4 class="row">Update Location</h4>
  </div>
  <div class="card-block">
    <form action="" ng-submit="gsm.onSubmit($event)">
      <div class="form-group row">
        <label for="ss">Station</label>
        <select
            required
            name="ss"
            id="ss"
            class="form-control"
            ng-change="gsm.filterBuses(gsm.form.ss)"
            ng-model="gsm.form.ss"
            ng-options="ss.name as ss.name for ss in gsm.stations"
        >
          <option value="" disabled> -- Select Station -- </option>

        </select>
      </div>
      <div class="form-group row">
        <label for="cd">Bus</label>
        <select
            required
            name="cd"
            id="cd"
            class="form-control"
            ng-model="gsm.form.cd"
            ng-options="cd.code as cd.code for cd in gsm.buses"
        >
          <option value="" disabled> -- Select Bus -- </option>

        </select>
      </div>
      <div class="form-group row">
        <label for="st">Status</label>
        <select
            required
            name="st"
            id="st"
            class="form-control"
            ng-model="gsm.form.st"
            ng-options="st.value as st.name for st in gsm.statuses"
        >
          <option value="" disabled> -- Select Status -- </option>

        </select>
      </div>
      <div class="form-group row">
        <label for="ct">Current Time</label>
        <input ng-model="gsm.form.ct" required type="text" id="ct" class="form-control">
      </div>
      <div class="form-group row">
        <label for="at">Arrival Time</label>
        <input ng-model="gsm.form.at" required type="text" id="at" class="form-control">
      </div>
      <div class="form-group row">
        <label for="ps">Passengers</label>
        <input ng-model="gsm.form.ps" required type="text" id="ps" class="form-control">
      </div>
      <div class="form-group row text-right">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
  </div>
</div>