<div class="page-header">
  <div class="page-header-title">
    <h4>Dashboard</h4>
  </div>
  <div class="page-header-breadcrumb">
    <ul class="breadcrumb-title">
      <li class="breadcrumb-item">
        <a href="">
          <i class="icofont icofont-home"></i>
        </a>
      </li>
      <li class="breadcrumb-item"><a href="">Pages</a>
      </li>
      <li class="breadcrumb-item"><a href="">Dashboard</a>
      </li>
    </ul>
  </div>
</div>
<div class="page-body">
  <div class="row">

    <div class="row">
      <div class="col-md-12 col-xl-4">
        <!-- table card start -->
        <div class="card table-card">
          <div class="">
            <div class="row-table">
              <div class="col-sm-6 card-block-big br">
                <div class="row">
                  <div class="col-sm-4">
                    <i class="icofont icofont-eye-alt text-success"></i>
                  </div>
                  <div class="col-sm-8 text-center">
                    <h5 ng-bind="home.labels.buses"></h5>
                    <span>Buses</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 card-block-big">
                <div class="row">
                  <div class="col-sm-4">
                    <i class="icofont icofont-ui-music text-danger"></i>
                  </div>
                  <div class="col-sm-8 text-center">
                    <h5 ng-bind="home.labels.routes"></h5>
                    <span>Routes</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div class="row-table">
              <div class="col-sm-6 card-block-big br">
                <div class="row">
                  <div class="col-sm-4">
                    <i class="icofont icofont-files text-info"></i>
                  </div>
                  <div class="col-sm-8 text-center">
                    <h5 ng-bind="home.labels.stations"></h5>
                    <span>Stations</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 card-block-big">
                <div class="row">
                  <div class="col-sm-4">
                    <i class="icofont icofont-envelope-open text-warning"></i>
                  </div>
                  <div class="col-sm-8 text-center">
                    <h5 ng-bind="home.labels.damages"></h5>
                    <span>Damages</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- table card end -->
      </div>
      <div class="col-md-12 col-xl-4">
        <!-- table card start -->
        <div class="card table-card">
          <div class="">
            <div class="row-table">
              <div class="col-sm-6 card-block-big br">
                <div class="row">
                  <div class="col-sm-4">
                    <div id="barchart" style="height:40px;width:40px;"></div>
                  </div>
                  <div class="col-sm-8 text-center">
                    <h5 ng-bind="home.labels.passengers"></h5>
                    <span>Passsengers</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 card-block-big">
                <div class="row ">
                  <div class="col-sm-4">
                    <i class="icofont icofont-network text-primary"></i>
                  </div>
                  <div class="col-sm-8 text-center">
                    <h5>5</h5>
                    <span>Damages</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div class="row-table">
              <div class="col-sm-6 card-block-big br">
                <div class="row ">
                  <div class="col-sm-4">
                    <div id="barchart2" style="height:40px;width:40px;"></div>
                  </div>
                  <div class="col-sm-8 text-center">
                    <h5>350</h5>
                    <span>Returns</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 card-block-big">
                <div class="row ">
                  <div class="col-sm-4">
                    <i class="icofont icofont-network-tower text-primary"></i>
                  </div>
                  <div class="col-sm-8 text-center">
                    <h5>100%</h5>
                    <span>Connections</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- table card end -->
      </div>
      <div class="col-md-12 col-xl-4">
        <!-- widget primary card start -->
        <div class="card table-card widget-primary-card">
          <div class="">
            <div class="row-table">
              <div class="col-sm-3 card-block-big">
                <i class="icofont icofont-star"></i>
              </div>
              <div class="col-sm-9">
                <h4>4000 +</h4>
                <h6>Ratings Received</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- widget primary card end -->
        <!-- widget-success-card start -->
        <div class="card table-card widget-success-card">
          <div class="">
            <div class="row-table">
              <div class="col-sm-3 card-block-big">
                <i class="icofont icofont-trophy-alt"></i>
              </div>
              <div class="col-sm-9">
                <h4>17</h4>
                <h6>Achievements</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- widget-success-card end -->
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Live update</h4>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <no-record ng-show="!home.liveData.length && !home.loading"></no-record>
              <div ng-if="home.loading">
                <h3>Loading</h3>
              </div>
              <table ng-if="home.liveData.length" class="table table-bordered">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Bus Code</th>
                  <th>Route</th>
                  <th>Start</th>
                  <th>Destination</th>
                  <th>Arrival Time</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in home.liveData track by $index | limitTo:10">
                  <td ng-bind="$index + 1"></td>
                  <td ng-bind="data.code"></td>
                  <td ng-bind="data.route_name"></td>
                  <td ng-bind="data.current_log"></td>
                  <td ng-bind="data.arrival_location"></td>
                  <td ng-bind="data.arrival_time"></td>
                  <td ng-bind="data.status"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <highchart id="chart1" config="home.passengersBarChartConfig"></highchart>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <highchart id="chart2" config="home.busPieChartConfig"></highchart>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card social-widget-card">
          <div class="card-block-big bg-facebook">
            <h3>1165 +</h3>
            <span class="m-t-10">Facebook Users</span>
            <i class="icofont icofont-social-facebook"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card social-widget-card">
          <div class="card-block-big bg-twitter">
            <h3>780 +</h3>
            <span class="m-t-10">Twitter Users</span>
            <i class="icofont icofont-social-twitter"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card social-widget-card">
          <div class="card-block-big bg-linkein">
            <h3>998 +</h3>
            <span class="m-t-10">Linked In Users</span>
            <i class="icofont icofont-brand-linkedin"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="card social-widget-card">
          <div class="card-block-big bg-google-plus">
            <h3>650 +</h3>
            <span class="m-t-10">Google Plus Users</span>
            <i class="icofont icofont-social-google-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>