<div class="j-wrapper j-wrapper-640">
  <form method="post" class="j-pro" id="j-pro" novalidate>
    <div class="j-content">
      <!-- start name -->
      <div>
        <label class="j-label">Name</label>
        <div class="j-unit">
          <div class="j-input">
            <label class="j-icon-right" for="name">
              <i class="icofont icofont-ui-user"></i>
            </label>
            <input type="text" id="name" name="name">
          </div>
        </div>
      </div>
      <!-- end name -->
      <!-- start email -->
      <div>
        <div>
          <label class="j-label">Email</label>
        </div>
        <div class="j-unit">
          <div class="j-input">
            <label class="j-icon-right" for="email">
              <i class="icofont icofont-envelope"></i>
            </label>
            <input type="email" id="email" name="email">
          </div>
        </div>
      </div>
      <!-- end email -->
      <!-- start login -->
      <div>
        <div>
          <label class="j-label ">Login</label>
        </div>
        <div class="j-unit">
          <div class="j-input">
            <label class="j-icon-right" for="login">
              <i class="icofont icofont-ui-check"></i>
            </label>
            <input type="text" id="login" name="login">
          </div>
        </div>
      </div>
      <!-- end login -->
      <!-- start password -->
      <div>
        <div>
          <label class="j-label ">Password</label>
        </div>
        <div class="j-unit">
          <div class="j-input">
            <label class="j-icon-right" for="password">
              <i class="icofont icofont-lock"></i>
            </label>
            <input type="password" id="password" name="password">
          </div>
        </div>
        <span class="form-group j-hint">
            <a ui-sref="login" href="" class="j-link">Already have an account?</a>
        </span>
      </div>
      <!-- end password -->
      <!-- start response from server -->
      <div class="j-response"></div>
      <!-- end response from server -->
    </div>
    <!-- end /.content -->
    <div class="j-footer">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
    <!-- end /.footer -->
  </form>
</div>