<div class="modal-header">
  Detail
</div>
<div class="modal-body">
  <h3><span>Station: </span> <span ng-bind="home.currentLog.station"></span></h3>
  <h3><span>Passengers: </span> <span ng-bind="home.currentLog.passengers"></span></h3>
  <h3><span>Status: </span> <span ng-bind="home.currentLog.status"></span></h3>
  <h3><span>Station: </span> <span ng-bind="home.currentLog.station"></span></h3>
</div>