<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes" name="viewport" />
    <meta name="keywords" content="Fenote" />
    <meta name="description" content="Fenote" />
    <meta name="author" content="Fenote" />
    <meta name="fragment" content="!" />
    <base href="/">
    <link rel="shortcut icon" type="image/png" href="static/image/favicon.png" />
    <title>Fenote</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="build/style.css">
    <link rel="stylesheet" type="text/css" href="bower_components/notie/dist/notie.css">
    <!--<link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">-->
    <link rel="stylesheet" type="text/css" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/highcharts-ng/dist/highcharts-ng.css">

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
    <link rel="stylesheet" type="text/css" href="bower_components/multiselect/css/multi-select.css">

    <!-- Google font-->
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">-->
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="static/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="static/assets/icon/icofont/css/icofont.css">
    <!-- flag icon framework css -->
    <link rel="stylesheet" type="text/css" href="static/assets/pages/flag-icon/flag-icon.min.css">
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="static/assets/pages/menu-search/css/component.css">
    <!-- Horizontal-Timeline css -->
    <link rel="stylesheet" type="text/css" href="static/assets/pages/dashboard/horizontal-timeline/css/style.css">
    <!-- amchart css -->
    <link rel="stylesheet" type="text/css" href="static/assets/pages/dashboard/amchart/css/amchart.css">
    <!-- flag icon framework css -->
    <link rel="stylesheet" type="text/css" href="static/assets/pages/flag-icon/flag-icon.min.css">
    <link rel="stylesheet" href="assets/pages/j-pro/css/j-pro-modern.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="app/style/style.css">

    <!--color css-->
    <link rel="stylesheet" type="text/css" href="static/assets/css/color/color-1.css" id="color"/>
  </head>

  <body ng-app="app" class="fix-menu menu-expanded">
    <div ng-if="appRouteState === 'login' || appRouteState === 'sign-up'">
      <div style="margin: 100px"  ui-view></div>
    </div>

    <div class="theme-loader">
      <div class="ball-scale">
        <div></div>
      </div>
    </div>

    <!-- Pre-loader end -->
    <!-- Menu header start -->
    <nav class="navbar header-navbar">
      <div class="navbar-wrapper">
        <div class="navbar-logo">
          <a class="mobile-menu" id="mobile-collapse" href="">
            <i class="ti-menu"></i>
          </a>
          <a class="mobile-search morphsearch-search" href="">
            <i class="ti-search"></i>
          </a>
          <a ui-sref="home" href="">
            <h1>Fenote</h1>
          </a>
          <a class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>
        <div class="navbar-container container-fluid">
          <div>
            <ul class="nav-right no-animation" >
              <li class="user-profile header-notification">
                <a href="">
                  <img src="static/assets/images/user.png" alt="User-Profile-Image">
                  <span>Abebe Kebede</span>
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li>
                    <a href="">
                      <i class="ti-settings"></i> Settings
                    </a>
                  </li>
                  <li>
                    <a href="user-profile.html">
                      <i class="ti-user"></i> Profile
                    </a>
                  </li>
                  <li>
                    <a href="email-inbox.html">
                      <i class="ti-email"></i> My Messages
                    </a>
                  </li>
                  <li>
                    <a href="auth-lock-screen.html">
                      <i class="ti-lock"></i> Lock Screen
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="ti-layout-sidebar-left"></i> Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- Menu header end -->
    <!-- Menu aside start -->
    <div class="main-menu no-animation">
      <div class="main-menu-header">
        <img class="img-40" src="static/assets/images/user.png" alt="User-Profile-Image">
        <div class="user-details">
          <span>Abebe Kebede</span>
          <span id="more-details">Administrator<i class="ti-angle-down"></i></span>
        </div>
      </div>
      <div class="main-menu-content">
        <ul class="main-navigation">
          <li class="more-details">
            <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>
            <a href=""><i class="ti-settings"></i>Settings</a>
            <a href=""><i class="ti-layout-sidebar-left"></i>Logout</a>
          </li>
          <li class="nav-title" data-i18n="nav.category.navigation">
            <i class="ti-line-dashed"></i>
            <span>Navigation</span>
          </li>
          <li ng-class="{'has-class': appRouteState === 'home'}" class="nav-item">
            <a ui-sref="home" href="">
              <i class="ti-home"></i>
              <span data-i18n="nav.dash.main">Dashboard</span>
            </a>
          </li>


          <li class="nav-title" data-i18n="nav.category.ui-element">
            <i class="ti-line-dashed"></i>
            <span>Edit</span>
          </li>
          <li ng-class="{'has-class': appRouteState === 'editor.bus'}" class="nav-item">
            <a ui-sref="editor.bus" href="">
              <i class="ti-car"></i>
              <span data-i18n="nav.basic-components.main">Bus</span>
            </a>
          </li>
          <li ng-class="{'has-class': appRouteState === 'editor.station'}" class="nav-item">
            <a ui-sref="editor.station" href="">
              <i class="ti-crown"></i>
              <span data-i18n="nav.advance-components.main">Station</span>
            </a>
          </li>
          <li ng-class="{'has-class': appRouteState === 'editor.route'}" class="nav-item">
            <a ui-sref="editor.route" href="">
              <i class="ti-direction"></i>
              <span data-i18n="nav.extra-components.main"> Route</span>
            </a>
          </li>
          <li ng-class="{'has-class': appRouteState === 'editor.log'}" class="nav-item">
            <a ui-sref="editor.log" href="">
              <i class="ti-direction"></i>
              <span data-i18n="nav.extra-components.main"> Log</span>
            </a>
          </li>
          <li ng-class="{'has-class': appRouteState === 'editor.gsm'}" class="nav-item">
            <a ui-sref="gsm" href="">
              <i class="ti-signal"></i>
              <span data-i18n="nav.extra-components.main"> GSM</span>
            </a>
          </li>
          <!--<li ng-class="{'has-class': appRouteState === 'editor.station-route'}" class="nav-item single-item">-->
            <!--<a ui-sref="editor.station-route" href="">-->
              <!--<i class="ti-reload"></i>-->
              <!--<span data-i18n="nav.animations.main"> Station Route</span>-->
            <!--</a>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
    <!-- Menu aside end -->

    <!-- Main-body start-->
    <div ng-if="appRouteState !== 'login' && appRouteState !== 'sign-up'" class="main-body">
      <div class="page-wrapper">
        <div ui-view></div>
      </div>
    </div>
    <!-- Main-body end-->
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
      <h1>Warning!!</h1>
      <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
      <div class="iew-container">
        <ul class="iew-download">
          <li>
            <a href="http://www.google.com/chrome/">
              <img src="static/assets/images/browser/chrome.png" alt="Chrome">
              <div>Chrome</div>
            </a>
          </li>
          <li>
            <a href="https://www.mozilla.org/en-US/firefox/new/">
              <img src="static/assets/images/browser/firefox.png" alt="Firefox">
              <div>Firefox</div>
            </a>
          </li>
          <li>
            <a href="http://www.opera.com">
              <img src="static/assets/images/browser/opera.png" alt="Opera">
              <div>Opera</div>
            </a>
          </li>
          <li>
            <a href="https://www.apple.com/safari/">
              <img src="static/assets/images/browser/safari.png" alt="Safari">
              <div>Safari</div>
            </a>
          </li>
          <li>
            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
              <img src="static/assets/images/browser/ie.png" alt="">
              <div>IE (9 & above)</div>
            </a>
          </li>
        </ul>
      </div>
      <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jqurey -->


      <script src="bower_components/localforage/dist/localforage.min.js"></script>
      <script src="bower_components/moment/min/moment.min.js"></script>
      <script src="bower_components/lodash/dist/lodash.min.js"></script>
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/tether/dist/js/tether.min.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-animate/angular-animate.min.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script src="bower_components/notie/dist/notie.min.js"></script>
      <script src="bower_components/angular-messages/angular-messages.min.js"></script>
      <!--<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>-->
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script src="bower_components/restangular/dist/restangular.js"></script>
      <script src="bower_components/restangular/dist/restangular.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
      <script type="text/javascript" src="bower_components/highcharts/highcharts.js"></script>
      <script type="text/javascript" src="bower_components/highcharts-ng/dist/highcharts-ng.min.js"></script>

      <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
      <!-- jquery slimscroll js -->
      <script src="bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
      <!-- modernizr js -->
      <script src="bower_components/modernizr/modernizr.js"></script>
      <script src="bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
      <!-- classie js -->
      <script src="bower_components/classie/classie.js"></script>
      <!-- Rickshow Chart js -->
      <script src="bower_components/d3/d3.js"></script>
      <script src="bower_components/rickshaw/rickshaw.js"></script>
      <!-- Morris Chart js -->
      <script src="bower_components/raphael/raphael.min.js"></script>
      <script src="bower_components/morris.js/morris.js"></script>
      <!-- i18next.min.js -->
      <script type="text/javascript" src="bower_components/i18next/i18next.min.js"></script>
      <script type="text/javascript" src="bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
      <script type="text/javascript" src="bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
      <script type="text/javascript" src="bower_components/jquery-i18next/jquery-i18next.min.js"></script>

      <script type="text/javascript" src="bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
      <script type="text/javascript" src="bower_components/multiselect/js/jquery.multi-select.js"></script>


    <script src="app/app.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.run.js"></script>


    <!--controllers-->
    <script src="app/controller/home.controller.js"></script>
    <script src="app/controller/editor.controller.js"></script>
    <script src="app/controller/editor/bus.controller.js"></script>
    <script src="app/controller/editor/route.controller.js"></script>
    <script src="app/controller/editor/station.controller.js"></script>
    <script src="app/controller/editor/log.controller.js"></script>
    <script src="app/controller/gsm.controller.js"></script>

    <!--directives-->
    <script src="app/directive/divider.directive.js"></script>
    <script src="app/directive/noRecordInfo.directive.js"></script>

    <!--services-->
    <script src="app/service/restangular.service.js"></script>
    <script src="app/service/editor.service.js"></script>

    <!-- Horizontal-Timeline js -->
    <script type="text/javascript" src="static/assets/pages/dashboard/horizontal-timeline/js/main.js"></script>
    <!-- amchart js -->
    <script type="text/javascript" src="static/assets/pages/dashboard/amchart/js/amcharts.js"></script>
    <script type="text/javascript" src="static/assets/pages/dashboard/amchart/js/serial.js"></script>
    <script type="text/javascript" src="static/assets/pages/dashboard/amchart/js/light.js"></script>
    <script type="text/javascript" src="static/assets/pages/dashboard/amchart/js/custom-amchart.js"></script>

    <!-- Custom js -->
    <!--<script type="text/javascript" src="static/assets/pages/dashboard/custom-dashboard.js"></script>-->
    <script type="text/javascript" src="static/assets/js/script.js"></script>



    <!-- livereload -->
      <script>/*eslint-disable*/document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </body>
</html>
