.main-menu {
    min-height:1000px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.routeForm ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.routeForm ul[dnd-list] .dndPlaceholder {
    background-color: #d3d3d3;
    display: block;
    min-height: 42px;
}

.no-animation {
   transition: none !important;
}