<div class="page-header">
  <div class="page-header-title">
    <h4>Bus</h4>
  </div>
  <div class="page-header-breadcrumb">
    <ul class="breadcrumb-title">
      <li class="breadcrumb-item">
        <a href="">
          <i class="icofont icofont-home"></i>
        </a>
      </li>
      <li class="breadcrumb-item"><a ui-sref="home" href="">Pages</a>
      </li>
      <li class="breadcrumb-item"><a ui-sref="editor.bus" href="">Bus</a>
      </li>
    </ul>
  </div>
</div>
<div class="page-body">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Buses</h5>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <no-record ng-show="!editor.buses.length && !editor.loading"></no-record>
            <div ng-if="editor.loading">
              <h3>Loading</h3>
            </div>
            <table ng-if="editor.buses.length" class="table table-bordered">
              <thead>
              <tr>
                <th>#</th>
                <th>Code</th>
                <th>Route</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="bus in editor.buses track by $index">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="bus.code"></td>
                <td ng-bind="bus.route_name"></td>
                <td><span ng-click="editor.deleteBus(bus.id)" style="cursor: pointer;" class="btn btn-sm"> <span class=" ti-close text-danger"></span></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Add Bus</h5>
        </div>
        <div class="card-block">
          <form ng-submit="editor.onSubmit($event)">
            <div class="form-group">
              <label for="name">Bus Code</label>
              <input required ng-model="editor.form.code" type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="route">Route</label>
              <select
                  required
                  ng-model="editor.form.route_id"
                  id="route"
                  class="form-control"
                  ng-options="route.id as route.name for route in editor.routes"
              >
                <option value="">-- Select Route --</option>
              </select>
            </div>
            <div class="form-group">
              <button ng-disabled="editor.loading" type="submit" class="btn btn-primary pull-right">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>