<div class="page-header">
  <div class="page-header-title">
    <h4>Log</h4>
  </div>
  <div class="page-header-breadcrumb">
    <ul class="breadcrumb-title">
      <li class="breadcrumb-item">
        <a href="">
          <i class="icofont icofont-home"></i>
        </a>
      </li>
      <li class="breadcrumb-item"><a ui-sref="home" href="">Pages</a>
      </li>
      <li class="breadcrumb-item"><a ui-sref="editor.route" href="">Log</a>
      </li>
    </ul>
  </div>
</div>
<div class="page-body">
  <div class="row">
    <div class="offsett-1 col-md-10">
      <div class="card">
        <div class="card-header">
          <h5>Logs</h5>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <no-record ng-show="!editor.logs.length && !editor.loading"></no-record>
            <div ng-if="editor.loading">
              <h3>Loading</h3>
            </div>
            <table ng-if="editor.logs.length" class="table table-bordered">
              <thead>
              <tr>
                <th>#</th>
                <th>Bus Code</th>
                <th>Route</th>
                <th>Station</th>
                <th>Arrived at</th>
                <th>Next arrival time</th>
                <th>Status</th>
                <!--<th>Action</th>-->
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="data in editor.logs track by $index | limitTo:10">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="data.bus_code"></td>
                <td ng-bind="data.route_name"></td>
                <td ng-bind="data.station"></td>
                <td ng-bind="data.time"></td>
                <td ng-bind="data.arrival_time"></td>
                <td ng-bind="data.status"></td>
                <!--<td><span ng-click="editor.deleteLog(data.id)" style="cursor: pointer;" class="btn btn-sm"> <span class=" ti-close text-danger"></span></span></td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>