<div class="page-header">
  <div class="page-header-title">
    <h4>Route</h4>
  </div>
  <div class="page-header-breadcrumb">
    <ul class="breadcrumb-title">
      <li class="breadcrumb-item">
        <a href="">
          <i class="icofont icofont-home"></i>
        </a>
      </li>
      <li class="breadcrumb-item"><a ui-sref="home" href="">Pages</a>
      </li>
      <li class="breadcrumb-item"><a ui-sref="editor.route" href="">Route</a>
      </li>
    </ul>
  </div>
</div>
<div class="page-body">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Routes</h5>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <no-record ng-show="!editor.routes.length && !editor.loading"></no-record>
            <div ng-if="editor.loading"><h3>Loading</h3></div>
            <table ng-if="editor.routes.length" class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Route Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="route in editor.routes track by $index">
                  <td ng-bind="$index + 1"></td>
                  <td ng-bind="route.name"></td>
                  <td><span ng-click="editor.deleteRoute(route.id)" style="cursor: pointer;" class="btn btn-sm"> <span class=" ti-close text-danger"></span></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Add Route</h5>
        </div>
        <div class="card-block">
          <form name="route-form" class="routeForm" ng-submit="editor.saveRoute($event)">
            <div class="form-group">
              <label for="name">Route name</label>
              <input required type="text" id="name" class="form-control" ng-model="editor.form.name">
            </div>
            <div class="form-group">
              <h4 class="sub-title">Stations</h4>
              <select
                  ng-model="editor.stationMulti"
                  multiple="multiple"
                  id="my-select"
                  required
                  name="my-select[]"
                  ng-options="station as station.name for station in editor.stationList"
                  style="position: absolute; left: -9999px;">
              </select>
            </div>
            <div class="form-group">
              <ul class="list-group" dnd-list="editor.stations.data">
                <li style="cursor: move" ng-repeat="item in editor.stations.data"
                    dnd-draggable="item"
                    dnd-moved="editor.stations.data.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="editor.stations.selected = item"
                    class="list-group-item"
                    ng-class="{'selected': editor.stations.selected === item}"
                >
                  <i class="ti-exchange-vertical"></i> &nbsp;&nbsp;&nbsp;{{item.name}}
                </li>
              </ul>
            </div>
            <div class="form-group text-muted" ng-if="editor.stations.data.length >= 2">
              Drag items to reorder stations
            </div>
            <div class="form-group">
              <button type="submit" ng-disabled="editor.loading" class="btn btn-primary pull-right">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>