<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>Buses</h5>
      </div>
      <div class="card-block">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Code</th>
              <th>Route</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>123</td>
              <td>4 Kilo - 6 Kilo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>321</td>
              <td>5 Kilo - Shiromeda</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>Add Bus</h5>
      </div>
      <div class="card-block">
        <form>
          <div class="form-group">
            <label for="name">Bus Code</label>
            <input type="text" id="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="route">Route</label>
            <select id="route" class="form-control">
              <option value="">One</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary pull-right">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
