<div class="page-header">
  <div class="page-header-title">
    <h4>Station</h4>
  </div>
  <div class="page-header-breadcrumb">
    <ul class="breadcrumb-title">
      <li class="breadcrumb-item">
        <a href="">
          <i class="icofont icofont-home"></i>
        </a>
      </li>
      <li class="breadcrumb-item"><a ui-sref="home" href="">Pages</a>
      </li>
      <li class="breadcrumb-item"><a ui-sref="editor.station" href="">Station</a>
      </li>
    </ul>
  </div>
</div>
<div class="page-body">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Stations</h5>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <no-record ng-show="!editor.stations.length"></no-record>
            <div ng-if="editor.loading">
              <h3>Loading</h3>
            </div>
            <table ng-if="editor.stations.length" class="table table-bordered">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="station in editor.stations track by $index">
                <td ng-bind="$index + 1">1</td>
                <td ng-bind="station.name">4 Kilo</td>
                <td><span ng-click="editor.deleteStation(station.id)" style="cursor: pointer;" class="btn btn-sm"> <span class=" ti-close text-danger"></span></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Add Station</h5>
        </div>
        <div class="card-block">
          <form ng-submit="editor.onSubmit($event)">
            <div class="form-group">
              <label for="name">Station Name</label>
              <input required ng-model="editor.form.name" type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" ng-disabled="editor.loading" class="btn btn-primary pull-right">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>